/*body style*/
body{
    background-color: #e0d9d9;
    font-size: 17px;
    font-family: 'Droid Arabic Naskh', serif;
    padding:0;
    margin:0;
    background-image: url('../images/back3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;  
}
.logo{
    width:150px;
    height:45px;
    margin:auto;
}
/* Style inputs with type="text", select elements and textareas */

label{
    font-weight : bold;
    font-size: 110%;
    /* display:block; */
}
/* .form-control{
    font-size: 17px;
    
} */
.form-control input[type="text"], input[type="date"]{
    text-align: right;
}
.formControlWidth{
    width :20 px !important;
}
#search,#searchTo,#searchDateFrom,#searchDateTo,#year,#month{
    margin-bottom:3px;
}
/* Add a background color and some padding around the form */
.container {
    width: 100%;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    /*padding: 20px;*/
    margin: auto;

}
.left{
    width: 45% ;
    float: left;

}
.right{
    width: 45%;
    float: right;
}
.table td,th {
   text-align: center !important;   
}
.btn{
    margin-bottom: -5px !important;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.navbar-nav{
    /* margin-bottom: 0; */
    font-size: 21px;
}
.navbar-inverse {
    background-color: #a5a1a1;
    border-color: #940308;
    font-size: 14px;
}
.navbar-inverse .navbar-brand {
    color: #0a0707;
    font-size:14px;
    margin-bottom: -15px;
    padding: 0;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #000000;
}
/*.navbar-nav>li>a {*/
.navbar-inverse .navbar-nav>li>a{
    /*font-size: 1em;*/
    color: #0a0707;
    padding-bottom: 2px;
}
.navbar-inverse {
    background-color: #a5a1a1;
    border-color: #940308;
    font-size: 17px;
    padding-bottom: 3px;
    margin-bottom: 0px;
}
/* .form-control{
    width:50%;
} */
.table td, 
.table th {
    white-space: nowrap;
    width: 1%; 
}
/* tables*/
/* #timesheet{
    font-size: 13px;
    font-weight: bold;
} */
#timesheet th{
    font-size: 16px;
}
#timesheet th ,#deductions th,#empData th,#jobData th, #sanctions th,#benefits th,#Deductionfromcredit th{
    background-color: #999999;
}
#confirmedVacReport{
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
}

.table-striped>tbody>tr:nth-child(even)>td {
   background-color: #bfbfbf; 
 }

#year{
    width: 10%;
}
.vac-credit{
    font-size: 20px;
    margin-bottom: 2px; 
  
}
.vac-credit > span {
    float: left;
    margin-left: 2px;
    font-weight: bold;
    font-family: "Arial"; 
}
.delete_vacation,.delete_permit{
    color: #940308;
}
.managements-container,.MaritalStatus-container,.levels-container,
.timesheet-container,.job-container,.empdata-container,.syndicate-container,.deductionType-container{
    margin: 0 auto;
}   
.managements{
    background-color: #c2bfbfc4;
    text-align: center;
    font-weight: bold;
    margin-top:10px;
}
.managements:hover{
    background-color: #940308;
    color: #f2f2f2;
}
#addjobModal  input[type="submit"]:hover , #editManagementModal  input[type="submit"]:hover,
#editLevelModal  input[type="submit"]:hover,#editsyndicateModal input[type="submit"]:hover,
#editcontractModal input[type="submit"]:hover,#edittimesheetModal input[type="submit"]:hover,
#editMaritalStatusModal input[type="submit"]:hover,#editjobModal input[type="submit"]:hover,
#editdeductionTypeModal input[type="submit"]:hover{
    background-color: #940308;
    color: #fff;
}
#activePage{
    color:  #940308;
}
#scroll_down, #scroll_up{
    position: fixed;
    bottom: 18px;
    right: 12px;
    border: none;
    background: #DCDCDC;
    padding: inherit;
}
.dropdown {
    display: inline;

}
.dropdown-menu-right {
    TOP: AUTO;
}

.dropdown-menu > li {
    font-size: 16px;
    text-align: center;

}
.dropdown-menu > li > a:hover {
    background-color: #685d5d;
    font-weight: bold;
    /* background-image: none; */
}
.dropdown-toggle {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1rem;
    color: #000000;
    background-color: #d4c8c8;
    border:none;
    /* padding-bottom: 2rem; */
}
.dropdown-header{
    background-color: #c9c6c6;
    font-weight: bold;
}
.label-toggle{
    color:gray;
}
.pagetitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.modal-content{
    background-color: #a5a1a1;
}
.nav-tabs>li>a {
    background-color: #333333; 
    border-color: #777777;
    color:#fff;
  }
  .delete_sanction{
    color: #940308;
}
/*************************MAIL CSS*************************************************/
/******************************/
.WagesDetailsModalbody {
    /* width: 90%; */
    margin: 0 auto;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-underline-position: under;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
   
}
#mailcompany {
    display: inline-block;
    text-decoration: underline;
    text-underline-position: under;
    color: #000
}
.mailtitle {
    font-size: 16px;
    border: 1px solid gray;
    text-decoration: underline;
}

.mailtitle h3 {
    margin-top: 4px;
    /* margin-bottom: -5px; */
    margin-right: 8px;
    text-align: right;
    padding-top: 2px;
}

.mailtitle h4 {
    margin: 7px;
    margin-right: 188px;
    padding-top: -16px;
    text-align: center;
}

.mailTable {
    border-collapse: collapse;
    width: 100%;
}

.mailTable th,
.mailTable td {
    padding: 5px;
    border: 5px solid #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.mailTable tr {
    background-color: #ddd;
    font-size: 13px;
    color: #000
}

.mailTable th {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #a40006;
    color: white;
    text-align: center;
    font-size: 14px;
}

.mailnotice {
    text-align: right;
    font-weight: bold;
    color: #a40006;
    margin-right: 14px;
}

.mailnotice h4 {
    font-size: 25px;
    margin: 0;
    text-decoration: underline;
}

.mailnotice p {
    margin: 0;
    padding-top: 5px;
}

.mailtotal {
    background-color: #78787ab7 !important;
}

.mailsubHeader {
    background-color: #bebdbdb7;
}
input[type="number"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    text-align: center;
 }